<div class="container">
  <h2 class="title">Crear Presupuesto</h2>
  <form (ngSubmit)="crearPresupuesto()" class="form">
    <input type="number" [(ngModel)]="nuevoPresupuesto.mes" name="mes" placeholder="Mes (1-12)" min="1" max="12" required>
    <input type="number" [(ngModel)]="nuevoPresupuesto.anio" name="anio" placeholder="Año" min="2020" required>
    <input type="number" [(ngModel)]="nuevoPresupuesto.cantidadMaxima" name="cantidadMaxima" placeholder="Cantidad Máxima" required>
    <button type="submit" class="btn">Crear Presupuesto</button>
  </form>
</div>

<div class="list-container">
  <h2 class="title">Listado de Presupuestos</h2>
  <ul class="list">
    <li *ngFor="let presupuesto of presupuestos" class="list-item">
      {{ presupuesto.mes }}/{{ presupuesto.anio }} - {{ presupuesto.cantidadMaxima }} €
      <button (click)="selectPresupuesto(presupuesto)" class="btn">Actualizar</button>
    </li>
  </ul>
</div>

<!-- Formulario para actualizar presupuesto -->
<div *ngIf="presupuestoAActualizar" class="update-container">
  <h2 class="title">Actualizar Presupuesto</h2>
  <form (ngSubmit)="actualizarPresupuesto(presupuestoAActualizar._id)" class="form">
    <input type="number" [(ngModel)]="presupuestoAActualizar.mes" name="mesActualizado" placeholder="Mes (1-12)" min="1" max="12" required>
    <input type="number" [(ngModel)]="presupuestoAActualizar.anio" name="anioActualizado" placeholder="Año" min="2020" required>
    <input type="number" [(ngModel)]="presupuestoAActualizar.cantidadMaxima" name="cantidadMaximaActualizado" placeholder="Cantidad Máxima" required>
    <button type="submit" class="btn" [disabled]="!presupuestoAActualizar._id">Guardar Cambios</button>
  </form>
</div>

<!-- Mensaje de estado del presupuesto -->
<div *ngIf="estadoPresupuesto" class="status-message">
  <h3>{{ estadoPresupuesto }}</h3>
</div>

<!-- Footer siempre visible -->
<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/operaciones">
      <ion-icon name="options-outline"></ion-icon>
      Operaciones
    </ion-tab-button>
    <ion-tab-button routerLink="/folder/gastos">
      <ion-icon name="cash-outline"></ion-icon>
      Meses
    </ion-tab-button>
    <ion-tab-button routerLink="/folder/grafica" [ngClass]="{ 'activo': router.isActive('/folder/grafica', true) }">
      <ion-icon name="pie-chart-outline"></ion-icon>
      Gráfica
    </ion-tab-button>
    <ion-tab-button routerLink="/folder/presupuesto">
      <ion-icon name="pencil-outline"></ion-icon>
      Presupuesto
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
