

.ingreso {
  background-color: #d4edda; /* Verde claro */
  color: #21923b; /* Texto verde oscuro */
}

.gasto {
  background-color: hwb(14 38% 29%); /* Rojo claro */
  color: #d12031; /* Texto rojo oscuro */
}

  .row {
    width: 100%;
  }

  .activo {
    color: #2E86C1    ;
  }
