<ion-content padding>
  <ion-grid fixed>
    <ion-header>
      <ion-card-title class="ion-text-center">OPERACIONES TOTALES</ion-card-title>
    </ion-header>
      <ion-list>
        <ion-item>
          <ion-row class="row ion-justify-content-evenly ion-text-center">
          <ion-col>Descripción</ion-col>
          <ion-col>Cantidad</ion-col>
          <ion-col>Categoría</ion-col>
          <ion-col>Fecha</ion-col>
        </ion-row>
        </ion-item>
        
        <!-- <ion-item *ngFor="let operacion of operaciones | async " [ngClass]="getFilaColor(operacion.cantidad)"> -->
          <ion-item *ngFor="let operacion of operamok">
            <ion-row class="row ion-justify-content-evenly ion-text-center">
          <ion-col >{{operacion.Operacion1.descripcion}}</ion-col>
          <ion-col >{{operacion.Operacion1.cantidad}}</ion-col>
          <ion-col>{{operacion.Operacion1.categoria}}</ion-col>
          <ion-col >{{operacion.Operacion1.fecha }}</ion-col>
            </ion-row>
        


          <!-- <ion-button  [routerLink]="['/editar-operacion', operacion._id]">Editar</ion-button>
              <ion-button size-md="2" (click)="borrar(operacion._id)">Borrar</ion-button> -->
  
        </ion-item>
  
      </ion-list>
  
  
      <ion-button (click)="botonNuevo()" color="primary" class="ion-margin-top">AÑADIR</ion-button>
  
  
    </ion-grid>
  </ion-content>