<ion-content padding>
  <ion-grid fixed>
    <ion-header>
      <ion-card-title class="ion-text-center">OPERACIONES TOTALES</ion-card-title>
    </ion-header>
      <ion-list>
        <ion-item>
          <ion-row>
          <ion-col size-md="3">Descripción</ion-col>
          <ion-col size-md="3">Cantidad</ion-col>
          <ion-col size-md="3">Categoría</ion-col>
          <ion-col size-md="3">Fecha</ion-col>
        </ion-row>
        </ion-item>
        
        <!-- <ion-item *ngFor="let operacion of operaciones | async " [ngClass]="getFilaColor(operacion.cantidad)"> -->
          <ion-item *ngFor="let operacion of operamok">
            <ion-row>
          <ion-col size-md="3">{{operacion.Operacion1.descripcion}}</ion-col>
          <ion-col size-md="3">{{operacion.Operacion1.cantidad}}</ion-col>
          <ion-col size-md="3">{{operacion.Operacion1.categoria}}</ion-col>
          <ion-col size-md="3">{{operacion.Operacion1.fecha}}</ion-col>

          <ion-col size-md="3">{{operacion.Operacion2.descripcion}}</ion-col>
          <ion-col size-md="3">{{operacion.Operacion2.cantidad}}</ion-col>
          <ion-col size-md="3">{{operacion.Operacion2.categoria}}</ion-col>
          <ion-col size-md="3">{{operacion.Operacion2.fecha}}</ion-col>

          <ion-col size-md="3">{{operacion.Operacion3.descripcion}}</ion-col>
          <ion-col size-md="3">{{operacion.Operacion3.cantidad}}</ion-col>
          <ion-col size-md="3">{{operacion.Operacion3.categoria}}</ion-col>
          <ion-col size-md="3">{{operacion.Operacion3.fecha}}</ion-col>
        
            </ion-row>

          <ion-buttons slot="end" class="ion-col-md">
            <!-- <ion-button [routerLink]="['/editar-operacion', operacion._id]" class="ion-col-md">Editar</ion-button> -->
            <ion-button [routerLink]="['/editar-operacion', operamok]" class="ion-col-md">Editar</ion-button>
            <!-- <ion-button (click)="borrar(operacion._id)" fill="outline" size="small">Borrar</ion-button> -->
            <ion-button (click)="borrar" fill="outline" size="small">Borrar</ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
      

      <ion-button (click)="botonNuevo()" expand="full" color="primary" class="ion-margin-top">AÑADIR</ion-button>
    </ion-grid>
</ion-content>