<ion-header>
  <ion-toolbar>
    <ion-title>Operaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="editooperacion" class="ion-padding">
    <!-- Descripción -->
    <ion-item class="form-group">
      
      <ion-input
        label="Descripción"
        name="descripcion"
        [(ngModel)]="editooperacion.descripcion"
        placeholder="Descripción"
        required
        minlength="5"
        #descripcion="ngModel"
      ></ion-input>
      <ion-note *ngIf="descripcion.invalid && descripcion.touched" color="danger">
        Sólo letras y mínimo de 5 caracteres
      </ion-note>
    </ion-item>

    <!-- Cantidad -->
    <ion-item class="form-group">
      
      <ion-input
        label="Cantidad"
        type="number"
        name="cantidad"
        [(ngModel)]="editooperacion.cantidad"
        placeholder="Cantidad"
        required
        pattern="[0-9]{1,}"
        #cantidad="ngModel"
      ></ion-input>
    </ion-item>

    <!-- Categoría -->
    <ion-item class="form-group">
      
      <ion-select
        label="Categoría"
        name="categoria"
        [(ngModel)]="editooperacion.categoria"
        required
        #categoria="ngModel"
      >
        <ion-select-option *ngFor="let cat of categorias" [value]="cat.nombre">{{ cat.nombre }}</ion-select-option>
      </ion-select>
      <ion-note *ngIf="categoria.invalid && categoria.touched" color="danger">Campo requerido</ion-note>
    </ion-item>

    <!-- Fecha -->
    <ion-item class="form-group">
      
      <ion-datetime
        displayFormat="YYYY-MM-DDTHH:mmZ"
        name="fecha"
        [(ngModel)]="editooperacion.fecha"
        required
      ></ion-datetime>
    </ion-item>

    <ion-button (click)="guardarCambios()" expand="full" color="primary" class="ion-margin-top">Guardar</ion-button>
  </form>
</ion-content>
